.logs/*
*.retry
*.vault
**/collections/*
!**/collections/requirements.yml

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Ansible
.ansible/

# IDEs
.vscode/
.idea/

# VMs
.vagrant/
build/
*.tar*
*.iso
*.ISO
*.img
*.vdi
*.vmdk
*.vhd
*.hdd
*.qcow
