# Kickstart file for server vms
#
# Use graphical install
graphical
repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp1s0 --gateway=172.25.250.1 --ip={{ item.ip }} --nameserver=172.25.250.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname={{ item.hostname }}.lab.example.com

# Use CDROM installation media
cdrom

{% if item.system_type == 'graphical' %}

%packages
@^graphical-server-environment
vim
bash-completion
%end

{% else %}

# Do not install X11
skipx

%packages
@^minimal-environment
kexec-tools
vim
bash-completion
%end

{% endif %}

# Run the Setup Agent on first boot
firstboot --disable

# Partitoning information
ignoredisk --only-use=vda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone Etc/UTC --utc

# Root password
rootpw --allow-ssh redhat
user --groups=wheel --name=student --password=student --gecos="Student"

# System services
firewall --enabled --service=ssh
services --enabled=sshd

%post --log=/root/ks-post.log

echo "Mounting RHEL DVD at /mnt/dvd"
mkdir -vp /mnt/dvd
echo "/dev/sr1 /mnt/dvd iso9660 defaults,nofail 0 0" | tee -a /etc/fstab
echo "Creating /etc/yum.repos.d/rhel-dvd.repo"
cat > /etc/yum.repos.d/rhel-dvd.repo << 'EOF'
[dvd-baseos]
name=RHEL DVD - BaseOS
baseurl=file:///mnt/dvd/BaseOS
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[dvd-appstream]
name=RHEL DVD - AppStream
baseurl=file:///mnt/dvd/AppStream
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
EOF

{% if item.system_type == 'graphical' %}

echo "Disabling subscription notification"
systemctl --global mask org.gnome.SettingsDaemon.Subscription.service

{% endif %}

echo "Removing motds"
rm -f /etc/motd.d/*

echo "Configuring passwordless sudo for student user"
echo "student ALL=(ALL) NOPASSWD: ALL" | tee /etc/sudoers.d/student

echo "Configuring SSH key for root user"
mkdir -vp /root/.ssh

echo "Creating private key for root user"
cat > /root/.ssh/id_rsa << 'EOF'
{{ rhel_lab_private_key }}
EOF

echo "Creating authorized_keys for root user"
cat > /root/.ssh/authorized_keys << 'EOF'
{{ rhel_lab_public_key }}
EOF

chown -vR root:root /root/.ssh
chmod -v 700 /root/.ssh
chmod -v 600 /root/.ssh/id_rsa /root/.ssh/authorized_keys

echo "Configuring SSH key for student user"
mkdir -vp /home/student/.ssh
chmod -v 700 /home/student/.ssh

echo "Creating private key for student user"
cat > /home/student/.ssh/id_rsa << 'EOF'
{{ rhel_lab_private_key }}
EOF

echo "Creating authorized_keys for student user"
cat > /home/student/.ssh/authorized_keys << 'EOF'
{{ rhel_lab_public_key }}
EOF

chown -vR student:student /home/student/.ssh
chmod -v 700 /home/student/.ssh
chmod -v 600 /home/student/.ssh/id_rsa /home/student/.ssh/authorized_keys

echo "Relaxing SSH host key checking"
cat > /etc/ssh/ssh_config.d/host-key-checking.conf << 'EOF'
Host *
  StrictHostKeyChecking=accept-new
EOF

%end

reboot
